.rodal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodal .rodal-dialog {
    height: auto !important;
    width: auto !important;
    padding: 2em;
    position: relative;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
}

.rodal .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.rodal .footer button {
    margin-left: 1em;
}

.rodal.error .rodal-dialog {
    border: 2px solid red;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    min-height: 5em;
    min-width: 25em;
    background: linear-gradient(
        34deg,
        rgba(55,16,83,1) 0%,
        rgba(162,73,190,1) 29%,
        rgba(33,16,83,1) 92%
    );
    border-radius: 16px;
}

.amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    min-height: 5em;
    min-width: 25em;
}

.amounts .tokens {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.amounts .tokens .amount {
    font-size: 1.5em;
    padding: 0.1em 0.3em;
    background-color: #57ce9a;
    color: white;
    border-radius: 5px;
    margin: 0 0.5em;
    background: linear-gradient(
        34deg,
        #249a68 0%,
        #57ce9a 29%,
        #249a68 92%
    );
}

.eth {
    text-align: center;
    font-weight: bold;
    color: #57ce9a;
    margin-left: 0.5em;
}

.usd {
    font-size: .8em;
    color: #dcdcdc;
    margin-left: 0.5em;
}