.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url('../img/header-background.jpg');
    background-position: center;
    background-size: 160%;
}

.header-title {
    font-size: 2.3em;
    color: #FAFAFA;
    font-weight: bold;
}

.header-subtitle {
    font-size: 1.3em;
    color: #eee;
    margin-bottom: 0.3em;
}

.header-subtitle .yellow {
    color: #f1e557;
}

.margin-right {
    margin-right: .5em;
}
